{% extends "/pyshop/layout.html" %}

{% block nav_main %}
    <a class="navbar-brand" href="{{route_url('index')}}">Packages <span class="badge">{{package_count}}</span></a>
{% endblock %}

{% block nav_second %}{% endblock %}

{% block nav_bar %}{% endblock %}

{% block header %}
    <script  type="text/javascript" src="{{ static_url('pyshop:static/js/bootstrap3-typeahead.js') }}"></script>
{% endblock %}


{% block subnav %}
{% endblock %}


{% block main %}

<form class="form-inline" role="form" method="GET">
  <div class="input-group">
    <input type="text" id="classifier" 
        data-provide="typeahead" data-items="4"
        data-link="{{ static_url('pyshop:static/classifications.json') }}"
        name="classifier.added" value=""
        class="form-control">
    <span class="input-group-btn">
      <button class="btn btn-default" id="submitter" name="form.submitted" type="submit">Classifiers filter</button>
    </span>
  </div><!-- /input-group -->

  <div class="checkbox">
    <label>
      <input type="checkbox" id="source_local" name="local_only" value="1" onchange="$('#submitter').click()" 
               {%if filter.local_only%}checked="checked"{% endif %}/>
      {% trans %}locals only{% endtrans %}
    </label>
  </div>
  {% for c in filter.classifiers %}
  <div class="checkbox">
    <label>
      <input type="checkbox" id="classifier_{{loop.index}}" 
             onchange="$('#submitter').click()" name="classifiers" 
             checked="checked" value="{{c.id}}"/> {{c.name}}
    </label>
  </div>
  {% endfor %}

</form>

<br />

<table class="table">
<thead>
    <tr>
        <td><strong>{% trans %} Package {% endtrans %}</strong></td>
        <td><strong>{% trans %} last version {% endtrans %}</strong></td>
        <td><strong>{% trans %} source {% endtrans %}</strong></td>
        <td><strong>{% trans %} # downloads {% endtrans %}</strong></td>
    </tr>
</thead>
<tbody>

    {% for pkg in packages %}
        <tr>
            <td>
                <a href="{{ route_url('show_package', package_name=pkg.name) }}">
                    {{ pkg.name }}
                </a>
            </td>
            <td class="num">{{ pkg.versions[0] }}</td>
            <td class="num">
                {% if pkg.local %}
                    {% trans %} local {% endtrans %}
                {% else %}
                    {% trans %} mirror {% endtrans %}
                {% endif %}
            </td>
            <td class="num">{{ pkg.downloads }}</td>
        </tr>
    {% endfor %}
</tbody>
</table>

<!--script>
    $(function() {
        $( "#classifier" ).typeahead({
            source: function(query, process) {
                return $.get('{{ static_url('pyshop:static/classifications.json') }}', 
                             { query: query }, 
                             function (data) {return process(data.options);}
                            );
            }
        });
console.log('toto');
});
</script-->
<script>
    $(function() {
      $(function () {
        $.getJSON('{{ static_url('pyshop:static/classifications.json') }}')
          .done(function (data) {
            $('#classifier').typeahead({ source: data });
          });
      });
    });
</script>
{% endblock %}
