{% extends "/pyshop/layout.html" %}

{% block nav_main %}
    <a class="navbar-brand" href='#'>{{package.name}} {{release.version}}</a>
{% endblock %}

{% block subnav %}{% endblock %}
{% block nav_second %}{% endblock %}

{% block nav_bar %}{% endblock %}

{% block toolbar %}
{% endblock %}

{% block main %}
    {% for f in release.files %}
        {% if f.package_type == 'sdist' %}
            <p>
            <a class="btn btn-success btn-lg active" role="button"
               href="javascript:milib.pip_install('{{ route_url('show_release_file', file_id=f.id, filename=f.filename)
                       }}#{{ f.md5_digest }}')">
              <span class="glyphicon glyphicon-download-alt"></span>
              Install ({{f.filename}})</a></p>
        {% endif %}
    {% endfor %}
    <p>Other Version: 
    {% set display = 0 %}
    {% for r in package.sorted_releases %}
        {% if r.id == release.id %}
            {% set idx = loop.index0 %}
            {% set display = 1%}
            {% if idx > 0 %}
                <a class="btn btn-info btn-xs active" role="button"
                    href="{{ route_url('show_package_version',
                    package_name=package.name,
                    release_version=package.sorted_releases[0].version)}}">
                  <span class="glyphicon glyphicon-tag"></span>
                  {{package.sorted_releases[0].version}}
                </a>
                ...
            {% endif %}
        {% endif %}
        {% if display and loop.index <= idx + 10 %}
            <a class="btn btn-info btn-xs active" 
               role="button" 
               href="{{ route_url('show_package_version', package_name=package.name, release_version=r.version)}}">
              <span class="glyphicon glyphicon-tag"></span>
                {{r.version}}
            </a>
        {% endif %}
        {% if loop.last and idx + 10 < loop.index %}
            ...
        {% endif %}
    {% endfor %}
    </p>
    {% if not release.package.local %}
    <p>
      {% if release.package.update_at %}
      
      <form role="form-inline" 
            action="{{route_url('show_package', package_name=release.package.name)}}" 
            method="post">
        Last Update: {{release.package.update_at}} 
        <button type="submit" class="btn btn-secondary" name="form.refresh_package">
          <span class="glyphicon glyphicon-refresh"></span>
          {% trans %}refresh{% endtrans %}
        </button>
      </form>
      {% else %}
        {% trans %}refreshing during next install{% endtrans %}
      {% endif %}
    {% endif %}</p>

    <ul id="myTab" class="nav nav-tabs">
      <li class="active"><a href="#Desc" data-toggle="tab">Description</a></li>
      <li><a href="#Classif" data-toggle="tab">Classification</a></li>
      <li><a href="#Release" data-toggle="tab">Release File</a></li>
    </ul>
    <div id="myTabContent" class="tab-content">
      <div class="tab-pane fade in active" id="Desc">
        <div class="panel panel-default" style='border-top:0px'>
          <div class="panel-body">
            {{ parse_rest(release.description) }}
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="Classif">
        <div class="panel panel-default" style='border-top:0px'>
          <div class="panel-body">

    <dl class="dl-horizontal">
        <dt>{% trans %}Type:{% endtrans %}</dt>
        <dd>{% if release.package.local %}
                {% trans %}local{% endtrans %}
            {% else %}
                {% trans %}mirrored{% endtrans %}
            {% endif %}
        </dd>
        {% if not release.package.local %}
            <dt>PyPI</dt>
            <dd><a href="https://pypi.python.org/pypi/{{release.package.name}}">
                    https://pypi.python.org/pypi/{{release.package.name}}
                </a></dd>
            </dd>
        {% endif %}
        <dt>{% trans %}Home page:{% endtrans %}</dt>
        <dd><a href="{{release.home_page}}">{{release.home_page}}</a></dd>
        <dt>{% trans %}Author:{% endtrans %}</dt>
        <dd>{{release.author.name}}</dd>
        <dt>{% trans %}Classifiers:{% endtrans %}</dt>
        <dd>
            <ul class="classifiers">
                {% for c in release.classifiers %}
                    {% if not c.childs %}
                        <li>{{c.name}}</li>
                    {% endif %}
                {% endfor %}
            </ul>
        </dd>
        {% if release.keywords %}
            <dt>{% trans %}Keywords:{% endtrans %}</dt>
            <dd>{{release.keywords}}</dd>
        {% endif %}
    </dl>

          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="Release">
        <div class="panel panel-default" style='border-top:0px'>
          <div class="panel-body">

    <table class="table table-hover table-condensed">
      <thead>
        <tr>
            <td>{% trans %} Files {% endtrans %}</td>
            <td>{% trans %} version {% endtrans %}</td>
            <td>{% trans %} author {% endtrans %}</td>
            <td>{% trans %} downloads {% endtrans %}</td>
        </tr>
       </thead>
      <tbody>
        {% for file in release.files %}
        <tr>
            <td>
                <a class="download"
                   href="javascript:milib.pip_install('{{ route_url('show_release_file', file_id=file.id,
                            filename=file.filename)
                           }}#{{ file.md5_digest }}')">{{file.filename}}
                </a>
            </td>
            <td class="num">
                v{{ release.version }}
            </td>
            <td>
                {{ release.author.login }}
            </td>
            <td class="num">{{ file.downloads }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

          </div>
        </div>
      </div>
    </div>


{% endblock %}
